In [ ]:
import pandas as pd
from statsmodels.stats.weightstats import ztest

In [ ]:
df = pd.read_excel('https://github.com/robertasgabrys/DSO559/blob/main/email_data.xlsx?raw=true')
df.head()

,Gender,Age,Variant,Party,Donate,DonationAmt,Newsletter,Share,ShareType
0,F,18-24,1,Democrat,0,0,N,N,NaN
1,F,35-44,1,Democrat,0,0,N,N,NaN
2,M,65+,2,Democrat,0,0,N,N,NaN
3,M,65+,2,Democrat,0,0,N,N,NaN
4,M,35-44,1,Democrat,0,0,N,N,NaN

**Step 1**: formulate a question:

Test 1: Is V2 (new/guilty) better than V1(old/innocnet)?

Test 2: Is V3 (new/guilty) better than V1 (old/innocnet)?

**Step 2**: assume the answer to the question above

Test 1: V2 is NOT better than V1

Test 2: V3 is NOT better than V1

**Combining Step1 and Step 12 we can formulate Ho and Ha:**

**Test 1**:

Ho: V2 is NOT better than V1

Ha: V2 is better than V1

**Test 2**:

Ho: V3 is NOT better than V1

Ha: V3 is better than V1

Step 2 -> we **assume** that Ho is TRUE

**Step 3:** set the tolerance/significance level (probablity of Type I error = probablity of reject Ho when Ho is true, i.e. incorrectly concluding that a new method is better) 

Since we have 2 new subjectlines we want to test, let's use alpha = 5% / 2 = 2.5% for each test.

In [ ]:
df.loc[df['Variant'] == 2,'Share']

2        N
3        N
5        N
9        N
10       N
        ..
15989    N
15992    N
15994    N
15996    N
15999    N
Name: Share, Length: 5322, dtype: object

In [ ]:
# replace N Y with 0 and 1 in Share column
df.loc[df['Share'] == 'N','Share'] = 0
df.loc[df['Share'] == 'Y','Share'] = 1

In [ ]:
# Is V2 better than V1?
ztest(x1 = df.loc[df['Variant'] == 2,'Share'] , x2 = df.loc[df['Variant'] == 1,'Share'],alternative='larger')[1]
# since the pvalue > 0.025 -> V2 is not better than V1

0.5072431032624405

In [ ]:
# Is V3 better than V1?
ztest(x1 = df.loc[df['Variant'] == 3,'Share'] , x2 = df.loc[df['Variant'] == 1,'Share'],alternative='larger')[1]
# since the pvalue > 0.025 -> V3 is not better than V1

0.2781302982795702