# Lab #1: Python Basics: KEY

#### Sources

1. https://docs.python.org/
2. https://www.w3schools.com/python/
3. https://www.tutorialspoint.com/python/
4. https://pynative.com/

### Introduction

Hello everyone! In this week's lesson, we will cover tha basics of Python as a programming tool and not as a data science tool. Python is a high level general-purpose programming language, and it was first released in 1991. In the year 2000, Python 2.0 was released, and then Python 3.0 was released 2008. For this class, we will be using Python 3.*

Python can be used in various areas: web development, automation, scientific computing, big data, and artifcial intelligence. 

Users and admirers of Python, especially those considered knowledgeable or experienced, are often referred to as Pythonistas. 

Alright, let's get started! This week's outline is:

- Python as a calculator
- Variables in Python
- Data Types

### <font color='firebrick'> 1. Python as a Calculator </font>

Python can act as a simple calculator. You can feed an expression to Python, and it will give you the result in a heartbeat. It's quick and fast.

In [46]:
3+5

8

In [47]:
10-34

-24

In [48]:
30-2*3

24

In [49]:
(30-2)*3

84

Notice that Python will first perform the multiplication of 2 and 3, and then subtract the result from 30. We all know that multiplication and division have higher order of evaluation compared to addition and subtaction. 

If we want to change the order of evaluation and make sure that subtraction is evaluated before multiplication in our example, then we can use parentheses as follows.

In [50]:
30-(2*3)

24

In [51]:
90/3

30.0

In [42]:
30-2*3

24

In [52]:
90/4

22.5

Notice that the division will always return a decimal number. In Pyhton just like most other programming languages, it is called float.

To get an integer result disregarding fractional results, we can use the floor division //.

In [53]:
90//3

30

With Python, it is possible to use the ** operator to caluclute powers

In [54]:
2**4

16

Finally, the % operator returns the remainder of the division of two numbers

In [55]:
7%2

1

In Pyhton (just like most of the programming languages), we can annotate our code with english statements to describe our code by using the # pound or hashtag sign (#). This will make our code easier to read and understand. 

Note that Python ignores any code or statments that comes after #.

In [56]:
7/2

3.5

###  <font color='firebrick'>  2. Variables in Python </font>

#### 2.1 Defining variables in Pyhton

Variables are containers for storing data values. Unlike other programming languages, Python has no command for declaring a variable. However, a variable in Python is created the moment you first assign a value to it.

In the following example, we assign the value of 3 to a variable called amount.

In [57]:
amount = 3

To check the value of the varible, we can use the print() method or function in Pyhton. The print() function takes the variable amount as an input and produces 3 as an output or whatever the value of amount.

In [59]:
print(amount)

3

In [60]:
amount

3

We have infinite variable names that we can use. A variable can have a short name like simply an alphabet character such as x or y, or a more descriptive name such as amount, age, gender, etc. Keep in mind that a variable name should follow the following rules:

- it must start with a letter or an underscore.
- it can't start it with a number
- it can only contain alpha-numeric characters and underscore (A-z, 0-9, and _ )
- don't forget that Pyhton is case sensitive. So age is different from Age

The following variable names are ACCEPTABLE in Python or any other programming language:

In [61]:
testgrade=100

In [62]:
print(testgrade)

100

In [64]:
TestGrade = 90
print(TestGrade)

90

In [65]:
testgrade1 = 89

In [66]:
test_grade = 96

In [68]:
_testgrade = 74

The following names are NOT ACCEPTABLE in Python. You will get an error message!

In [69]:
1st_testgrade = 100

SyntaxError: invalid syntax (<ipython-input-69-9e651fc2a3e8>, line 1)

In [70]:
test*grade

NameError: name 'test' is not defined

Python allows you to assign a single value or multiple values simultaneously as follows:

In [71]:
x = 1
y = 1

In [72]:
x

1

In [73]:
y

1

In [75]:
x = y = 1
print(x)
print(y)

1
1

In [76]:
a, b, c = 1, 40, "DSO599"

In [78]:
a

1

In [79]:
b

40

In [80]:
c

'DSO599'

In [81]:
print(c)

DSO599

#### 2.2 Overwriting variables in Python

Note that we can overwrite the original value of a variable by simply assigning a new value to it as follows:

In [82]:
age = 12
age

12

In [83]:
age = 30
age

30

In [84]:
age = 12
age

12

Note that the new value for x is now USA instead of 10.

#### Exercise

Let's calculate the BMI (Body Mass Index) for someone who's height is 70 inches and weight is 175 lbs. 

$BMI  = 703 \times \frac{[weight(lbs)]}{{[height(in)]}^2}$

In [85]:
weight = 180

In [86]:
height = 90

In [87]:
BMI = 703 * (weight) / ((height)**2)

In [88]:
BMI

15.622222222222222

### <font color='blue'>  DIY-1: Compound Interests </font>

DIY = Do It Yourself!

If you deposit $4000 into an account paying 6% annual interest compounded quarterly, how 
much money will be in the account after 5 years? 

The compound interst formula: 

$FV = P(1 + \frac{r}{n})^{nt}$

- FV: future value
- P: principal or amount of money deposited
- r: annual interest rate
- n: number of times compounded per year
- t: time in years


Your task is to define the 5 variables in the equation in Python and compute the future value of the money deposited.

In [89]:
P = 4000
r = 0.06
n = 4
t = 5

In [90]:
FV = P * (1+r/n)**(n*t)
FV

5387.420026200214

### <font color='firebrick'> 3. Standard Data Types in Python </font>

The data stored in memory can be of many types. For example, a student's grade is stored as numeric, and their name is stored as text or a string of characters. In this section, we will discuss briefly the five main data types in Python as this will be helpful for us later on when we start analying our dataset. So again, we are not analyzing the data yet, we are just learing the basics of Python that will be very helpful during the analysis stage. 

The five data types or object types in Python are:

- Numbers
- String
- List
- Tuple
- Dictionary

### 3.1 Python Numbers

Numbers data types in Python store numeric values. Python supports four numerical types (int, long, float, and complex). We will focus on two of these types as they are mostly used:

- `int`: signed integers (e.g. 10, -4, 500, etc.)
- `float`: decimal values (e.g. 20.3, -5.39, etc.)

In [91]:
x = 10
x

10

We can check the type of the Python variable using the function `type()`. This will be the second predefined Python function that we have learned so far in addition to the function `print()`. The function `type()` takes the variable as its argument or input between parantheses, and outputs the data type of the variable. For example:

In [92]:
type(x)

int

In [93]:
y = 10.5

In [94]:
type(y)

float

### 3.2 Python String

A Python `string` is a set of contiguous set of characters in between quotation marks.

In [95]:
company = "Tesla, Inc."

The variable company stores the name of the company. When we work with strings, we can subset them using the slice operator (`[]`, `[:]`) with indexes starting at 0 in the begining of the string.

In [96]:
type(company)

str

In [97]:
company

'Tesla, Inc.'

In [98]:
company[0]

'T'

In [99]:
company[1]

'e'

- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [100]:
company[0:5]

'Tesla'

In [101]:
company[:5]

'Tesla'

In [102]:
company[:7]

'Tesla, '

In [103]:
company[7:11]

'Inc.'

In [105]:
"DSO" + "599"

'DSO599'

In [106]:
"DSO" + 599 # mistake

TypeError: can only concatenate str (not "int") to str

Notice that the value of the variable `company` did not change after we concatenated it with "California". In order to update the value of the variable, we will need to overwrite its value as follows:

In [107]:
company

'Tesla, Inc.'

In order to find the length of a given string, we can use the predefined Python function `len()`.

In [108]:
company + ', California'

'Tesla, Inc., California'

#### Exercise

1. Define a variable called `blurb` with value "The Tesla stock price reached 1200 dollars in July". 
2. Extract the price value of Tesla's stock from the blurb.
3. Suppose that you have bought the stock when it was \dollar 350. How much profit you made?

In [109]:
blurb = "Tesla stock price reached 1200 dollars in July"

In [111]:
type(blurb)

str

In [113]:
price = blurb[26:30]
price

'1200'

In [115]:
price - 350 # mistake because price = '1200', ''indicate Python treats this value as string

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [116]:
# change the type of price:
profit = float(price) - 350 # assume you invested in Tesla when price was 350
profit

850.0

Use negative indexes to start the slice from the end of the string

In [119]:
blurb[-1] # first from the back

'y'

In [120]:
blurb[-2] # second from the back

'l'

In [124]:
blurb[-4:] # last 4

'July'

#### String Methods

Python has a set of built-in methods that you can use on strings. You can find a list of all those methods here: https://www.w3schools.com/python/python_ref_string.asp 

In what follows we will look at some of them:

In [125]:
company

'Tesla, Inc.'

The `upper()` method returns the string in upper case:

In [126]:
company.upper()

'TESLA, INC.'

The `lower()` method returns the string in lower case:

In [127]:
company.lower()

'tesla, inc.'

The `replace()` method replaces a string with another string:

In [128]:
company.replace("Tesla","Apple")

'Apple, Inc.'

If we want to get rid of the comma from the company's name, we can `replace()` the comma with no character as follows:

In [129]:
company.replace(",","")

'Tesla Inc.'

In [131]:
company = company.replace(",","") #overwrite 
company

'Tesla Inc.'

Notice that when we apply a method on a string object, the original value does not change. We will have to overwrite the object if you want to save the changes you apply

In [132]:
company.split(" ")

['Tesla', 'Inc.']

The `split()` method splits the string into substrings if it finds instances of the separator:

#### More on Python Strings

To check if a certain phrase or character is present in a string, we can use `in` or `not in`:

In [133]:
company

'Tesla Inc.'

In [134]:
"Tesla" in company

True

In [135]:
"Tesla" not in company

False

In [136]:
"Apple" in company

False

In [137]:
"Apple" not in company

True

What if you your text includes some words wrapped with quotations:

In [138]:
"A student said: \"I study analytics\""

'A student said: "I study analytics"'

In [139]:
'A student said: \"I study analytics\"'

'A student said: "I study analytics"'

#### Exercise

In Python, just like most programming languages, a new line is represented using the code `\n`. Write Pyhton code to create the following output on two seperate lines:

Tesla, Inc. \
California

In [141]:
print("Tesla, Inc. \nCalifornia")

Tesla, Inc.
California

A tab in Python is coded as `\t`:

In [142]:
print("Tesla, Inc. \tCalifornia")

Tesla, Inc. 	California

### <font color='blue'>  DIY-2: Tesla Stocks </font>

1. Define a variable `count` that has the number of Tesla stocks you have (let's say 100).
2. Compute the total value of your Tesla stocks and save it in a variable called `total_value".
3. Print a statement which tells how much money you have in Tesla stocks.

In [145]:
count = 100
type(count)

int

In [147]:
price = 1200
type(price)

int

In [151]:
total_value = price * count
total_value

120000

In [153]:
type(total_value)

int

In [154]:
print("The total value of my Tesla stocks = $" + str(total_value))

The total value of my Tesla stocks = $120000

### 3.3 Python List

- A Python list is a collection of elements (numeric, strings, boolean, lists, etc.)
- Elements in a Python list are accessible through the slicing operator (`[]` and `[:]`)
- Elements in a Python list are changable (i.e. we can update the value of its elements)
- Python lists allow duplicates of elements

In [13]:
list = ['Xin',23.5,"48.9","Peter","Xin", "Shringar"]

In [2]:
list

['Xin', 23.5, '48.9', 'Peter', 'Xin', 'Shringar']

In [3]:
len(list)

6

In [4]:
list[0]

'Xin'

In [5]:
list[2]

'48.9'

In [6]:
list[0:4]

['Xin', 23.5, '48.9', 'Peter']

In [7]:
list[:4]

['Xin', 23.5, '48.9', 'Peter']

In [8]:
list[4:]

['Xin', 'Shringar']

In [9]:
list[1] + 2

25.5

In [10]:
list

['Xin', 23.5, '48.9', 'Peter', 'Xin', 'Shringar']

In [14]:
list[1] = list[1] + 2

In [16]:
list

['Xin', 25.5, '48.9', 'Peter', 'Xin', 'Shringar']

In [18]:
# We can use negative indices: -1 will refer to the last element in the list, 
# -2 to the one before, etc:

list[-1]

'Shringar'

In [ ]:
list[:-1]

For more list methods, you can visit https://docs.python.org/3/tutorial/datastructures.html

### 3.4 Python Tuple

- A Python tuple is a collection of elements (numeric, strings, boolean, lists, etc.)
- Unlike Python lists, tuples are enclosed with parentheses
- Elements in a Python tuple are accessible through the slicing operator (`[]` and `[:]`)
- Elements in a Python tuple are read-only or immutable (i.e. we can NOT update the value of its elements)

In [19]:
x = ('Xin',89,'Shringar')

In [20]:
x

('Xin', 89, 'Shringar')

In [21]:
x[1]

89

In [23]:
x[1] = x[1] +1

TypeError: 'tuple' object does not support item assignment

In [24]:
my_tuple = (1, 2)

In [26]:
zeroth_field, first_field = my_tuple

In [27]:
my_tuple

(1, 2)

### 3.5 Python Dictionary

- A Python dictionary is a set of ordered pairs of keys and values. 
- We use curley brackets to define dictionaries
- We will see them a lot when we start using Plotly for data visualization
- A value of an item in a dictionary is accessed via its key, unlike lists where we access elements via its position or index

In [28]:
companies = {"TSLA":1200, "APPL":340,"ZM":253,"TDOC":190}

In [29]:
companies

{'TSLA': 1200, 'APPL': 340, 'ZM': 253, 'TDOC': 190}

In [31]:
companies['TSLA']

1200

In [32]:
companies['ZM']

253

In [33]:
companies.keys()

dict_keys(['TSLA', 'APPL', 'ZM', 'TDOC'])

We can also start with an empty dictionary, and add elements to it later on:

In [34]:
companies = {}

In [35]:
companies

{}

In [36]:
companies['TSLA']=1200

In [37]:
companies

{'TSLA': 1200}

In [38]:
companies['AAPL']=253

In [39]:
companies

{'TSLA': 1200, 'AAPL': 253}

### <font color='blue'>  DIY-3: Capitals </font>

Create a Python dictionary to contain the capitals of: Armenia (Yerevan), Lebanon (Beirut), France (Paris), and California (Sacramento). Once you are done, access and print the capital of France.

In [155]:
capitals = {"Armenia":"Yerevan", "Lebanon":"Beirut", "France":'Paris', "Lithuania":'Vilnius'}

In [156]:
capitals

{'Armenia': 'Yerevan',
 'Lebanon': 'Beirut',
 'France': 'Paris',
 'Lithuania': 'Vilnius'}

In [158]:
capitals['Lithuania']

'Vilnius'

In [160]:
capitals['California'] = 'Sacramento'

In [161]:
capitals

{'Armenia': 'Yerevan',
 'Lebanon': 'Beirut',
 'France': 'Paris',
 'Lithuania': 'Vilnius',
 'California': 'Sacramento'}