In [1]:
import pandas as pd
from statsmodels.stats.weightstats import ztest
import math

from statsmodels.stats.power import NormalIndPower

import numpy as np

In [2]:
df = pd.read_excel('https://github.com/robertasgabrys/DSO559/blob/main/Campaign.xlsx?raw=true')
df.head()

  Version Language     Region    Amt Signup
0       C   French       West  16.14     No
1      V2   French  Southwest  25.79     No
2       C  English  Northeast  46.22     No
3       C  Spanish  Southeast  45.50     No
4      V1  English       West  26.83     No

In [10]:
df1 = df.loc[(df['Version']=='V1') & (df['Language']=='French') ,'Amt'].mean()
df1

28.116947368421048

In [8]:
# replace N Y with 0 and 1 in Share column
df.loc[df['Signup'] == 'No','Signup'] = 0
df.loc[df['Signup'] == 'Yes','Signup'] = 1
df.head()

  Version Language     Region    Amt Signup
0       C   French       West  16.14      0
1      V2   French  Southwest  25.79      0
2       C  English  Northeast  46.22      0
3       C  Spanish  Southeast  45.50      0
4      V1  English       West  26.83      0

In [44]:
v1 = df.loc[(df['Version']=='V1'),'Signup'].mean() 
v1

0.11279497726780688

In [30]:
ztest(x1 = df.loc[df['Version'] == 'V1','Signup'] , x2 = df.loc[df['Version'] == 'C','Signup'],alternative='larger')[1]
#p value 0.00068  <0.05,  V1 is better than old

0.0006841645598729767

In [31]:
ztest(x1 = df.loc[df['Version'] == 'V2','Signup'] , x2 = df.loc[df['Version'] == 'C','Signup'],alternative='larger')[1]
#p value 0.15  >0.05, fails to prove V2 is better than old

0.1484628426089682

In [17]:
df['Region'].unique()

array(['West', 'Southwest', 'Northeast', 'Southeast', 'Midwest'],
      dtype=object)

In [18]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'West'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'West'),'Signup'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.14133220081695486

In [19]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Southwest'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southwest'),'Signup'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for southwest > 0.05

0.07575379551890819

In [20]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Northeast'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Northeast'),'Signup'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for southwest > 0.05

0.19261279821042981

In [21]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Southeast'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southeast'),'Signup'],alternative='larger')[1]
# Conclusion: V1 is better than C for southeast < 0.05

6.305858374978082e-06

In [22]:

# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Midwest'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Midwest'),'Signup'],alternative='larger')[1]
# Conclusion: V1 is not better than C in midwest

0.8811409161279675

In [14]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'West'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'West'),'Signup'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.31345472956069753

In [23]:
# Region = 'West', 'Southwest', 'Northeast', 'Southeast', 'Midwest'
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Southwest'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southwest'),'Signup'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.5865661967631528

In [24]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Northeast'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Northeast'),'Signup'],alternative='larger')[1]
# Conclusion: V2 is better than C for mortheast  < 0.05

0.005066328065009041

In [25]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Southeast'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southeast'),'Signup'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.6163769750275434

In [26]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Midwest'),'Signup'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Midwest'),'Signup'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.9304467846327671

In [27]:
df.head()

  Version Language     Region    Amt Signup
0       C   French       West  16.14      0
1      V2   French  Southwest  25.79      0
2       C  English  Northeast  46.22      0
3       C  Spanish  Southeast  45.50      0
4      V1  English       West  26.83      0

In [29]:
ztest(x1 = df.loc[df['Version'] == 'V1','Amt'] , x2 = df.loc[df['Version'] == 'C','Amt'],alternative='larger')[1]

0.30154067118348127

In [33]:
ztest(x1 = df.loc[df['Version'] == 'V2','Amt'] , x2 = df.loc[df['Version'] == 'C','Amt'],alternative='larger')[1]

0.5741166040654028

In [34]:
# Region = 'West', 'Southwest', 'Northeast', 'Southeast', 'Midwest'
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'West'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'West'),'Amt'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.6265167986812902

In [35]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Southwest'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southwest'),'Amt'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.42943238727437205

In [36]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Northeast'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Northeast'),'Amt'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.3481272108094268

In [37]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Southeast'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southeast'),'Amt'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.572763151330592

In [38]:
# Region = West
# Is V1 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V1') & (df['Region'] == 'Midwest'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Midwest'),'Amt'],alternative='larger')[1]
# Conclusion: V1 is NOT better than C for west > 0.05

0.059022309670106146

In [39]:
# Region = west, 'Southwest', 'Northeast', 'Southeast', 'Midwest'
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'West'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'West'),'Amt'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.6083000910969057

In [40]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Southwest'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southwest'),'Amt'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.6580258646418031

In [41]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Northeast'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Northeast'),'Amt'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.13296010250301316

In [42]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Southeast'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Southeast'),'Amt'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.8963265570670613

In [43]:
# Region = West
# Is V2 better than C in West?
ztest(x1 = df.loc[(df['Version'] == 'V2') & (df['Region'] == 'Midwest'),'Amt'] ,\
      x2 = df.loc[(df['Version'] == 'C') & (df['Region'] == 'Midwest'),'Amt'],alternative='larger')[1]
# Conclusion: V2 is NOT better than C for west

0.42634751991913344