In [1]:
import pandas as pd
import datetime as dt
from plotnine import * # from plotnine library import all functions

In [2]:
shipments = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/Shipments.csv')
manufacturingCost = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/ManufacturingCost.csv')
transportationCost = pd.read_csv('https://raw.githubusercontent.com/robertasgabrys/DSO559/main/TransportationCost.csv')

In [3]:
print(shipments.head())
print(manufacturingCost.head())
print(transportationCost.head())

       Date Factory     Market  Shipment
0  3/1/2012  Austin  Australia       107
1  3/1/2012  Austin     Brazil       235
2  3/1/2012  Austin     Canada       165
3  3/1/2012  Austin      China        86
4  3/1/2012  Austin     France        81
        Factory  ManufacturingCost
0      New York               9.35
1   Los Angeles               6.98
2       Chicago               6.73
3       Houston              11.09
4  Philadelphia              12.40
        Factory  China  Japan  India  Germany  Russia  United Kingdom  Brazil  \
0      New York   2.09   3.16   4.34     1.06    4.74            1.98    1.44
1   Los Angeles   1.72   1.16   1.62     4.66    2.92            1.02    1.58
2       Chicago   2.24   3.52   4.73     3.81    4.68            3.23    3.62
3       Houston   1.88   1.85   2.05     4.90    4.45            4.87    4.76
4  Philadelphia   2.24   3.07   1.48     4.15    0.59            2.90    1.08

   France  Italy  ...  South Korea  Spain  Canada  Indonesia  Turkey  \
0    1.84   0.85  ...         5.45   3.64    1.97       1.19    2.63
1    4.99   5.03  ...         3.80   2.87    0.97       0.71    3.98
2    4.86   2.54  ...         3.40   3.02    2.13       4.78    4.88
3    3.93   0.64  ...         4.52   0.60    0.99       5.45    2.10
4    2.07   3.71  ...         2.19   4.33    5.16       1.81    3.97

   Australia  Taiwan  Iran  Poland  Netherlands
0       1.23    1.78  3.29    4.22         0.60
1       1.97    5.27  4.80    3.13         5.48
2       1.75    5.39  1.88    1.52         1.07
3       3.13    3.89  3.76    3.40         4.02
4       2.39    4.89  4.91    3.50         3.19

[5 rows x 21 columns]

In [4]:
# 6
shipments = pd.merge(shipments,manufacturingCost,on='Factory')
shipments['ManufacturingCostPerShipment'] = shipments['Shipment'] * shipments['ManufacturingCost']
shipments['ManufacturingCostPerShipment'].sum().round(2)

29625889.2

In [5]:
shipments.columns

Index(['Date', 'Factory', 'Market', 'Shipment', 'ManufacturingCost',
       'ManufacturingCostPerShipment'],
      dtype='object')

In [6]:
# 7
shipments[['Factory','ManufacturingCostPerShipment']].groupby(['Factory']).sum().sort_values(by='ManufacturingCostPerShipment',ascending=False).index[0]

'Louisville-Jefferson County'

In [7]:
# 8

In [8]:
transportationCost = transportationCost.set_index('Factory').stack().reset_index()
transportationCost.columns = ['Factory','Market','TransportationCost']

In [9]:
shipments = pd.merge(shipments,transportationCost, left_on = ['Factory','Market'],right_on =['Factory','Market'],how='inner')
shipments['TransportationCostPerShipment'] = shipments['Shipment'] * shipments['TransportationCost']
shipments['TransportationCostPerShipment'].sum().round(2)

9182368.58

In [10]:
shipments[['Market','TransportationCostPerShipment']].groupby(['Market']).sum().sort_values(by='TransportationCostPerShipment',ascending=False).index[0]

'Mexico'